# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

2-11-20/pyramidProb9.cpp

2-13-20/04-04-assertions.cpp

2-18-20/CSC175-lab6-complete.cpp

2-4-20/CSC175-generator.cpp

2-4-20/test.cpp

2-4-20/test123.cpp

2-6-20/CSC175-functions-coins.cpp

2-6-20/CSC175-functions-guess-number.cpp

2-6-20/CSC175-guess-a-number.cpp

2-6-20/randSeed.cpp
